{{>adminTop}}
<body>
    <div class="card">
    <div class="card-body">
     
        <h4 class="card-title ,mt-5"> All Products</h4>
        {{!-- <p class="card-description"> <code></code> --}}
        </p>
        <div class="table-responsive">

                       
                    
            <section>

                <table class="table table-striped mt-5" id="myTable" >
                    <thead>
                        <tr>
                         
                            <th scope="col">Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th> 
                            <th scope="col">Stock</th> 
                            <th scope="col">Image</th>
                            {{!-- <th>Image</th> --}}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each products}}
    <tr>
    
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Description}}</td>
      <td>{{this.Price}} </td>
      <td style="text-align: center;">{{this.Stock}} </td>
      <td><img style="width:50px;height:50px" src="/images/{{this._id}}0.jpg" ></td>
        <td><a href="/admin/admineditproduct?productId={{this._id}} " class="btn btn-primary btn-sm btn-block" >Edit</a>
    <a href='/admin//admindeleteproduct?productId={{this._id}}' class="btn btn-danger btn-sm btn-block" onclick="return confirm('Confirm to delete Product {{this.name}}')" >Disable</a></td>
  </tr>
    </tr>
    {{/each}}

                    </tbody>
                </table>
        </div>
        </section>

    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>

{{>adminBottom}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script>
  $(document).ready(function() {
    // $.noConflict();
    
    var table = $('#myTable').DataTable({
      "paging": true,          // Enable pagination
      "pageLength": 10,        // Number of rows per page
      "lengthMenu": [10, 25, 50, 75, 100],  // Dropdown options for rows per page
    });
  
    table.on('draw', function() {
      $(".paginate_button:not(.previous):not(.next)").addClass("number_button");
    });
  });
</script>


 