<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/noizz/logo.png" alt="" >
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
   <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="assets/img/noizz/logo.png" alt="" style="width: 150px;"></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    
                                    <li><a style="text-decoration: none;" href="/home">Home</a></li>
                                    <li><a style="text-decoration: none;" href="/allProducts">shop</a></li>
                                    <li ><a style="text-decoration: none;"href="#">Account</a>
                                        <ul class="submenu">
                                            <li><a style="text-decoration: none;" href="/getProfilePage"> Profile</a></li>
                                            <li><a style="text-decoration: none;" href="/logout"> Logout</a></li>
                                        </ul>
                                    </li>
                                   
                                   
                             
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                 
 <div style="display: flex;">
   
    {{!-- {{else}}
    <div style="margin-left: 20px;">
        <i class="fa fa-shopping-cart" style="font-size: 24px;"></i>
        <a href="/carts"><span class="fa-solid fa-cart-shopping" id="lblCartCount">0</span></a>
    </div>
    {{/if}} --}}
</div>
        
                    
                      </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

     <section id="gallery">
                <!DOCTYPE html>
                <html lang="en">

                <head>
                    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
                    <link rel="stylesheet" href="cart/fonts/icomoon/style.css">

                    <link rel="stylesheet" href="cart/css/bootstrap.min.css">
                    <link rel="stylesheet" href="cart/css/magnific-popup.css">
                    <link rel="stylesheet" href="cart/css/jquery-ui.css">
                    <link rel="stylesheet" href="cart/css/owl.carousel.min.css">
                    <link rel="stylesheet" href="cart/css/owl.theme.default.min.css">


                    <link rel="stylesheet" href="cart/css/aos.css">

                    <link rel="stylesheet" href="cart/css/style.css">

                </head>


<body>
  {{#each orders}}
  <section class="h-100 gradient-custom">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100 " >
      <div class="col-lg-10 col-xl-8" >
        <div class="card" style="border-radius: 10px; ">
          {{#if (equal this.status "cancelled")}}
            <div class="card-header px-4 py-5" style="display: flex;justify-content: space-between;background-color: rgb(198, 31, 31);" >
            
            <h5  style="color: aliceblue;">Order Cancelled!<span ></span>!</h5>
       
          </div>
          {{else}}
          <div class="card-header px-4 py-5" style="display: flex;justify-content: space-between;background-color: rgb(13, 121, 31);" >
            
            <h5 style="color: aliceblue;" >Thanks for your Order, <span >{{this.deliveryDetails.firstname}}</span>!</h5>
       
          </div>
          {{/if}}
          
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
          
            
            </div>
            {{#each this.products}}
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/images/{{this.product._id}}0.jpg"
                      class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{this.product.Name}}</p>
                  </div>
               
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty: {{this.quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">₹{{this.product.Price}}</p>
                  </div>
                   {{#if (notEqual this.proStatus "cancelled")}} 
                   <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <button class="btn btn-danger" onclick="cancelOrderProduct('{{this.product._id}}','{{../this._id}}','{{this.product.Price}}','{{../this.totalAmount}}')">X</button>
                  </div>
                  {{/if}}
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                 
                  <div class="col-md-10">
                   
                    
                  </div>
                </div>
     
     {{#if (equal this.proStatus "cancelled")}} 
      <button  style="font-size: 20px; text-align: center;background-color:  rgb(201, 54, 54);color: #e0e0e0;" class="btn btn-warning"> {{this.proStatus}}</button>
      {{else}}
      <button style="font-size: 20px; text-align: center;background-color: rgb(79, 90, 82);color: #e0e0e0;border-radius: 5px;" > {{this.proStatus}}</button>
       {{/if}}

              </div>
            </div>
          {{/each }}
           

            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Delivery address</p>
             
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">{{this.deliveryDetails.firstname}}</p>
          
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">{{this.deliveryDetails.address1}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> ₹ {{this.amountPaid}}</p>
            </div>
            
            <div class="d-flex justify-content-between mb-5">
              <p class="text-muted mb-0">{{this.deliveryDetails.city}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
            </div>
          </div>
          <div class="card-header px-4 py-5" style="display: flex; justify-content: space-between">
             {{#if (notEqual this.status "cancelled")}}
            <a style="" href="/invoice?id={{this._id}}"><button class="btn btn-success">Invoice Download</button></a>  
            {{/if}}
          
   {{#if (equal this.status "placed")}} 
    <button class="btn btn-danger"  onclick="cancelOrder('{{this._id}}')" > CANCEL ORDER</button>
     {{/if}}
      {{#if (equal this.status "pending")}} 
   <button class="btn btn-danger" onclick="cancelOrder('{{this._id}}')" > CANCEL ORDER</button>
     {{/if}}
        {{#if (equal this.status "shipped")}} 
   <button class="btn btn-danger" onclick="cancelOrder('{{this._id}}')"> CANCEL ORDER</button>
     {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 {{/each }}
</body>
</html>

<script>
    $(document).ready(function () {
  $(".card").click(function () {
    $(this).toggleClass("toggle");
  });
});

</script>

    </body>
</html>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   function cancelOrder(orderId) {
      console.log(orderId, 'ajjx')
Swal.fire({
  title: 'Are you sure?',

  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
         $.ajax({
        
        url: '/cancelOrder/' + orderId,     
        method: 'get',
        success: (response) => {
         location.reload()
        }
      })
  }
})
 
    }

    function cancelOrderProduct(proId,orderId,proTotal,total) {
      console.log(proId,'ajjx proId')
      console.log(orderId,'ajjx orderId')
Swal.fire({
  title: 'Are you sure?',

  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
     $.ajax({
            url: '/cancelSingleProduct',
            data: {
              proId: proId,
              orderId:orderId,
              proTotal:proTotal,
              total:total
            },

            method: 'post',
            success: (response) => {
              console.log("succeeded ajjx")
              location.reload()

            }
          });
  }
})
 
    }
</script>
                            
                </body>


</html>
   <script src="https://kit.fontawesome.com/5f6d1ef682.js"
     crossorigin="anonymous"></script>

 
</section>

 
    
   
   

      <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/jquery.slicknav.min.js"></script>
  <script src="./assets/js/slick.min.js"></script>
  <script src="./assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>
</html>